.btn-set{
  width: 155px;
  outline: none;
  border: none;
  color: var(--white);;
  padding: var(--input-padding);
  background-color: var(--add-remove-btn);
  border-radius: var(--input-radio);
  cursor: pointer;
}
.btn-set:hover{
  filter: brightness(1.2);
}