.btn-set{
  width: 155px;
  color: var(--white);
  background-color: var(--btn-set-color);
  cursor: pointer;
}

.btn-set:hover{
  filter: brightness(1.2);
}

.remove{
  margin: 20px 0;
  transition: filter 1s ease;
}