.TodoItem{
  color: #fff;
  width: 100%;
}
.icon{
  border: none;
  outline: none;
  padding: var(--input-padding);
  color: #ddd;
  margin-bottom: 1px;
  border-radius: 6px;
  margin: 0 3px 0
}
.check{
  background-color: var(--edit-todo)
}
.trash{
  background-color: var(--delete-todo)
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}