.TodoItem{
  color: var(--white);;
  width: 100%;
}
.icon{
  border: none;
  outline: none;
  padding: var(--input-padding);
  color: #ddd;
  margin-bottom: 1px;
  border-radius: 6px;
  margin: 0 3px 0;
}
.icon:hover{
  filter: brightness(.5);
}
.check{
  background-color: var(--edit-todo);
}
.trash{
  background-color: var(--red);
}
tr td{
  text-align: center;
}
.text-right{
  text-align: right;
}
.none{
  display: none;
}