.navBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-padding);
    background-color: var(--nav-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

.navBar-icon{
  color: var(--white);;
  font-size: 25px;
}

.filters{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 30px;
}

.filters-span{
  color: var(--ligth-blue);
  font-size: 18px;
  margin-left: 30px;
  margin-right: 6px;
}

.SetValues-Nav{
  margin-right: 5px;
}
.filters-container{
  margin-right: 10px;
}
#hidden{
  display: flex;
  margin-right: 10px;
}

.menu-container{
  display: none;
  place-items: center;
  width: 30px;
  height: 30px;
  color: var(--ligth-blue);
  background-color: #222;
  outline: 1px solid var(--ligth-blue);
  cursor: pointer;
  margin-right: 40px;
}

.menu-container:hover{
  filter: brightness(.79);
}

@media screen and ( max-width: 750px ){
  .menu-container{
    display: grid;
  }

  .filters{
    display: none;
  }
  .filters-container{
    padding: 0 20px;
  }
  #hidden{
    background-color: rgba(0,0,0,.8);
    gap: 20px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    padding: 20px 15px 20px 25px;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

}