.Alert{
    text-align: center;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--red);
    color: var(--white);
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 200;
    transition: all 1s ease;
}