.App{
  width: 100%;
  min-height: 100vh;
  background-color: #222;
  text-align: center;
}
.container{
  margin: 40px;
}
.Details{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid var(--white);
  margin-top: 40px;
}
.none{
    display: none;
}
.remove{
  margin-bottom: 20px;
}
@media screen and (max-width: 702px){
  .Details{
    flex-direction: column;
  }
}