*{
  padding: 0px;
  margin: 0;
  font-family: monospace;
}

:root{
  --nav-color: #444;
  --nav-padding: 10px;
  --add-todo: #45f;
  --edit-todo: #67f;
  --delete-todo: #f51;
  --input-padding: 8px;
  --input-radio: 8px;
  --label-color: #fff;
}