*{
  padding: 0px;
  margin: 0;
  font-family: monospace
}

:root{
  --nav-color: #444;
  --nav-padding: 10px;
  --add-todo: #45f;
  --edit-todo: #67f;
  --delete-todo: #f51;
  --input-padding: 8px;
  --input-radio: 8px;
}

/* .TodoCounter{
  font-size: 40px;
  word-break: break-word;
  text-align: center;
} */

/* .icon{
  transition: transform .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  user-select:none;
}
.icon-check{
  color: green;
}
.trash:hover{
  color: #923;
  transform: scale(1.2);
}
.check:hover{
  color: green;
  transform: scale(1.2);
} */

